{% extends "bank/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="{% static 'bank/card-logo.svg' %}" alt="logo" class="icon">
        </a>
        <a href="{% url 'users-logout' %}">
            <button type="button" class="btn btn-secondary">Logout</button>
        </a>
    </nav>

    <h1 class="display-1 p-2">Welcome {{ user.first_name }}</h1>
    
    <div class="accordion mt-3" id="productsContainer">
        <div class="card">
            <div class="card-header bg-success" id="headingSavings">
                <h2 class="mb-0">
                    <button class="btn btn-link text-light" type="button" data-toggle="collapse" data-target="#collapseSavings" aria-expanded="false" aria-controls="collapseSavings">
                        Savings
                    </button>
                </h2>
            </div>
      
            <div id="collapseSavings" class="collapse" aria-labelledby="headingSavings" data-parent="#productsContainer">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>ID</th>
                                <th>Balance</th>
                            </tr>
                            {% if savings %}
                                {% for product in savings %}
                                    <tr>
                                        <td>{{ product.id }}</td>
                                        <td>${{ product.money }}</td>
                                    </tr>
                                    
                                {% endfor %}
                            {% else %}
                                Add a savings product.
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- End Card -->

        <div class="card">
            <div class="card-header bg-danger" id="headingChecking">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed text-light" type="button" data-toggle="collapse" data-target="#collapseChecking" aria-expanded="false" aria-controls="collapseChecking">
                        Checking
                    </button>
                </h2>
            </div>
            <div id="collapseChecking" class="collapse" aria-labelledby="headingChecking" data-parent="#productsContainer">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div> <!-- End Card -->

        <div class="card">
            <div class="card-header bg-warning" id="headingMoneyMarket">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed text-light" type="button" data-toggle="collapse" data-target="#collapseMoneyMarket" aria-expanded="false" aria-controls="collapseMoneyMarket">
                        Money Market
                    </button>
                </h2>
            </div>
            <div id="collapseMoneyMarket" class="collapse" aria-labelledby="headingMoneyMarket" data-parent="#productsContainer">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div> <!-- End Card -->

        <div class="card">
            <div class="card-header bg-info" id="headingCD">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed text-light" type="button" data-toggle="collapse" data-target="#collapseCD" aria-expanded="false" aria-controls="collapseCD">
                        CD
                    </button>
                </h2>
            </div>
            <div id="collapseCD" class="collapse" aria-labelledby="headingCD" data-parent="#productsContainer">
                <div class="card-body">
                    {% if CD %}
                        {% for product in CD %}
                            {{ product }}
                        {% endfor %}
                    {% else %}
                        Add a CD product.
                    {% endif %}
                </div>
            </div>
        </div> <!-- End Card -->

        <div class="card">
            <div class="card-header bg-secondary" id="headingIRA_CD">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed text-light" type="button" data-toggle="collapse" data-target="#collapseIRA_CD" aria-expanded="false" aria-controls="collapseIRA_CD">
                        IRA CD
                    </button>
                </h2>
            </div>
            <div id="collapseIRA_CD" class="collapse" aria-labelledby="headingIRA_CD" data-parent="#productsContainer">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div> <!-- End Card -->

    </div> <!-- end accordion -->

    <form class="mt-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Upload documents</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Upload</button>
        </div>
    </form>
{% endblock %}